<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <!-- <mvc:interceptors>
        <mvc:interceptor>
            某一模块的拦截：/myPath/**, 拦截所有的请求/**
            <mvc:mapping path="/**"/>
            <bean class="cn.itcast.springmvc.interceptor.MyIntercepor"></bean>
        </mvc:interceptor>
    </mvc:interceptors> -->
</beans>